<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="flex-sb">
      <div>
        <a href="/">Home</a>
      </div>

      <div>
        <a href="/blogs/new"><button>Add Blogs</button></a>
        <a href="/users/logout"><button>logout</button></a>
      </div>
    </header>
  </body>
</html>
