<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <% include partial/header %>
    <h2>Edit Form</h2>

    <div>
      <form action="/comments/<%= comment.id %>" method="POST">
        <textarea
          name="content"
          cols="30"
          rows="10"
          placeholder="Comments"
        ></textarea>
        <div>
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
    <% include partial/footer %>
  </body>
</html>
