<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include partial/header %>
    <h1>Blog App</h1>

    <a href="/blogs"><button>Go to Blogs</button></a>

    <% include partial/footer %>
  </body>
</html>
